<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<link rel = "stylesheet" href="/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
<script type="text/javascript" th:src="@{../js/student.js}" src="../static/js/student.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{../css/main.css}" />
</head>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/form3/form3_nav/biz :: nav_three_technicals_biz"></div>
<!-- content be inserted below -->
biz biz
<!-- content be inserted above -->
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</html>